BART/xml-schemas/xml-pipeline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="pipeline" type="Pipeline"/>
<xsd:complexType name="Pipeline">
    <xsd:sequence>
        <xsd:element name="component" type="PipelineComponent"
        minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PipelineComponent">
    <xsd:attribute name="name" type="xsd:string"/>
</xsd:complexType>
</xsd:schema>
